#navbar{

background-color: #008000;
display: flex;
gap: 1.3%;
padding: 10px;

}

.nava{
    color: white;
    text-decoration: none;
    cursor: pointer;

}

#nav{
    display: flex;
    gap: 5%;
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
}

.navb{
    
color: black;
text-decoration: none;
font-size: 20px;
margin-top: 1%;
cursor: pointer;
}

.navbb{
    font-size: 40px;
    color: black;
 text-decoration: none;

}

#sec1{
   
    display: flex;
    gap: 15%;
    margin-top: 10%;
    margin-left: 7%;
    margin-right: 7%;
}

#capsize{
    width: 500px;
    height: 500px;
   
}

#shopcap{
    color: black;
    font-size: 20px;
    cursor: pointer;
}

#words{
    font-size: 50px;
    padding-top: 60%;
    
}

#sec2{
   
    margin-top: 5%;
    display: flex;
    gap: 10%;
    margin-left: 7%;
    margin-right: 7%;

}
#blouse{
    width: 700px;
    height: 600px; 
}

#blousetext{
  font-size: 20px;
  padding-left: 30%;
}

#bagside{
    display: flex;
    gap: 10%;
    margin-top: 10%;
}


.baga{
    width: 200px;
    height: 100px;

}

#sec3{
margin-top: 5%;
margin-left: 7%;
margin-right: 7%;
}


#content1{
    display: flex;
    gap: 3%;
}

#heading{
    display: flex;
    gap: 5%;
}

.heads{
    color: gray;
    font-size: 30px;
    
    cursor: pointer;
}
.head{
    color: black;
    font-size: 30px;
    padding-left: 15%;
    cursor: pointer;
}
.girls{
    width: 300px;
    height: 380px;
}

#content2{
    display: flex;
    gap: 15%;
    margin-left: 5%;
}

#content3{
    display: flex;
    gap:10%;
    margin-top: 7%;
    margin-left: 5%;
}

.girlb{
    width: 320px;
    height: 300px;
}
.button1{
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.p{
    padding-top: 20%;
}

#sec4{
margin-left: 0%;
margin-top: 5%;
margin-right: 7%;
}

#girlside{
    display: flex;
    gap: 20%;
}

#img4{
    width: 800px;
    height: 700px;
}
#text4{
    margin-top:20% ;
}

#h2{
    font-size: 50px;
}

#shop4{
    color: black;
}

#autumn{
    margin-left: 50%;
    font-size: 30px;
}

#sec5{
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 5%;
}

#pics{
    display: flex;
    gap: 7%;
}

#img5a{
    width: 400px;
    height: 400px;
}

#img5b{
    width: 400px;
    height: 400px;
}

#img5c{
    width: 400px;
    height: 600px;
}

#texts{
    display: flex;
    gap: 15%;
}

#follow{
    margin-left: 40%;
}

#follow{
    font-size: 20px;
}

#sec6{
    display: flex;
    gap: 2%;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2%;
}

.img5b{
    width: 300px;
    height: 300px;
    
    border-radius: 20px;
}

#footer{
    border: solid black 1px;
    margin-top: 10%;
}
